* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none !important;
    
}

pre {
    overflow: auto;
    overflow-wrap: break-word;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    /*white-space: pre-wrap;*/
}

pre code {
    /*white-space: pre-wrap;*/
    font-family: var(--font-mono);
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #111;
    font-family: 'Anonymous Pro', monospace;
}
.main-wrapper{
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 65%;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    width: fit-content;
}

.brand-name {
    font-size: 35px;
    font-weight: bolder;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.about {
    text-align: center;
    font-size: 18px;
    color: white;
}
.about-ptag{
     background-color: rgb(17 17 17 / 43%);
     padding: 20px;
     border-radius: 8px;
}
.code-container {
    position: absolute;
    padding: 25px 0  0  25px ;
    min-height: 200px;
    min-width: 500px;
    max-width: 700px;
    max-height: fit-content;
    font-size: 18px;
    background-color: #fdfdfd;
    border-radius: 2px;
    border: none;
    overflow: auto;

    left: 0;
    right: 0;
    top: 40%;
    bottom: 20%;
    margin: auto;
    transition: max-width ease 1s;
    transition: min-height ease 1s;
}

.code-editor-textarea{
    /*height: fit-content; */
    width: 100%;
    /*resize: none;*/
    border: none;
    font-size: 18px;
    font-family: 'Anonymous Pro', monospace;
}

.language-selector {
    display: flex;
    justify-content:space-evenly;
    align-content: space-between;
    align-items: flex-start;
    position: absolute;
    padding: 5px;
    border-radius: 2px;
    border: none;
    color: white;
    font-size: 18px;
    left: 0;
    right: 0;
    top: 70%;
    bottom: 0%;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    max-width: 80%;
    max-height: 40%;
}

select {
    outline: none;
    padding: 5px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
}
.expire{
    align-items: center;
    align-self: center;
    align-content: center;

}

.submit-button {
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 2px;
    border: none;
    outline: none;
}
.lang-container{
    
    align-items: center;
    align-self: center;
    align-content: center;
    
}
.submit-container{
    
    align-items: center;
    align-self: center;
    align-content: center;
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
    left: 0px;
    background-color: #3f3f3f;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

/*circles*/
.circles {
    height: 65vmin;
    width: 25vmin;
    position: absolute;
    margin: 0 auto;
    top: 59%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
    z-index: -100;
}

.circle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2.5vmin solid transparent;
    border-radius: 115% 140% 145% 110%/125% 140% 110% 125%;
    mix-blend-mode: screen;
}

.circle:nth-child(1) {
    border-color: #DB4437;
    transform-origin: 50% 50%;
    -webkit-animation: spin1 5.5s linear infinite;
    animation: spin1 5.5s linear infinite;
}

.circle:nth-child(2) {
    border-color: #F4B400;
    transform-origin: 50% 50%;
    -webkit-animation: spin2 5.5s linear infinite;
    animation: spin2 5.5s linear infinite;
}

.circle:nth-child(3) {
    border-color: #4285F4;
    transform-origin: 50% 50%;
    -webkit-animation: spin3 5.5s linear infinite;
    animation: spin3 5.5s linear infinite;
}

.circle:nth-child(4) {
    border-color: #0F9D58;
    transform-origin: 50% 50%;
    -webkit-animation: spin4 5.5s linear infinite;
    animation: spin4 5.5s linear infinite;
}
/*outputcss*/
.code-output{
    width: 100%;
    overflow: auto;
    margin-top: 200px;
}
.code-snippet{
    z-index: 111;
    width: 95%;
    font-size: 15px;
    margin: auto;
}
#output-link{
    color: white;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
/*Outputend*/


@-webkit-keyframes spin1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    0% {
        transform: rotate(72deg);
    }

    100% {
        transform: rotate(-288deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(72deg);
    }

    100% {
        transform: rotate(-288deg);
    }
}

@-webkit-keyframes spin3 {
    0% {
        transform: rotate(-144deg);
    }

    100% {
        transform: rotate(216deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(-144deg);
    }

    100% {
        transform: rotate(216deg);
    }
}

@-webkit-keyframes spin4 {
    0% {
        transform: rotate(216deg);
    }

    100% {
        transform: rotate(-144deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(216deg);
    }

    100% {
        transform: rotate(-144deg);
    }
}

/*responsive*/
@media only screen and (max-width: 720px) {
    .code-container{
        min-width: 90%;
        max-width: 90%;
    }
    .language-selector{
        max-width: 80%;
    max-height: 80%;
    flex-direction: column;
    top: 80%;
    }
    .lang-container{
        text-align: center;
    }
    .lang-container select{
        margin: 5px;
    }
    .brand-name{
        margin-bottom: 10px;
    }
    .about-ptag{
        padding: 10px;
    }
    .about-ptag{
        font-size: 16px;
    }
    pre {
    
        padding: 1rem .5rem;
    }
    pre code {
        font-size: 11px;
    }
}
@media only screen and (max-width: 700px) and (max-height: 490px) {

    .code-container{
       min-height: 100%;
    }

}